body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-custom-class:hover{
    background-color: #e0e0e0;
}

.singer-title:hover{
  color: #3131F9;
}

a {
  text-decoration: none !important
}